<h1>Welcome <%= current_user.email %></h1>

<h3>Here are the list of your event types:</h3>

<% @event_types.each do |event_type| %>
  <div class="user-event-type">
    <p><%= event_type.name %></p>
    <p><%= event_type.start_available_period %></p>
    <p><%= event_type.end_available_period %></p>
    <p><%= event_type.each_event_duration %></p>
    <p><%= event_type.break_time_amount %></p>
  </div>
  <hr>
<% end %>
