<div id="<%= dom_id schedule %>">
  <p>
    <strong>User:</strong>
    <%= schedule.user_id %>
  </p>

  <p>
    <strong>Scheduled at:</strong>
    <%= schedule.scheduled_at %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= schedule.duration %>
  </p>

  <p>
    <strong>Guest name:</strong>
    <%= schedule.guest_name %>
  </p>

  <p>
    <strong>Guest email:</strong>
    <%= schedule.guest_email %>
  </p>

</div>
