<%= form_with model: @event_type do |form| %>
  <div class="form-field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-field">
    <%= form.label :start_available_period %>
    <%= form.time_select :start_available_period %>
  </div>

  <div class="form-field">
    <%= form.label :end_available_period %>
    <%= form.time_select :end_available_period %>
  </div>

  <div class="form-field">
    <%= form.label :duration %>
    <%= form.number_field :duration, placeholder: 'Ex:30 min' %>
  </div>

  <div class="form-field">
    <%= form.label :before_break_time %>
    <%= form.number_field :before_break_time, placeholder: 'Ex: 30 min' %>
  </div>

  <div class="form-field">
    <%= form.label :after_break_time %>
    <%= form.number_field :after_break_time, placeholder: 'Ex: 30 min' %>
  </div>

  <%= form.submit 'Create' %>
<% end %>
